.Configuration {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
